/*
 * 发行版
 */
*{
	font-family: "微软雅黑";
}
html{
	font-size: 62.5%;
}
.navbar{
	margin-bottom: 0rem;
}
.footer{
	background: rgba(206, 200, 200, 0.69);
	text-align: center;
	width: 100%;
	height: 5rem;
	line-height: 5rem;
	position: fixed;
	bottom: 0px;
	z-index: 9999;
}
.blank-block{
	width: 100%;
	height: 5rem;
	margin-top: 1rem;
}
.aboutUs-top-pic img{
	height: 100%;
}
.aboutUs-blank{
	height: 5rem;
	width: 100%;
}
.company-intro-content {
	display: none;
}
.breadcrumb{
	margin-top: 1rem;
	font-size: 1.5rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	box-shadow: 0px 0px 10px;
}
