/*
 * 存储footer部分的样式
 * 最终会合并进mobile.css
 */
.footer{
	background: rgba(206, 200, 200, 0.69);
	text-align: center;
	width: 100%;
	height: 5rem;
	line-height: 5rem;
	position: fixed;
	bottom: 0px;
	z-index: 9999;
}
.blank-block{
	width: 100%;
	height: 5rem;
	margin-top: 1rem;
}
